li {
	margin: 5px;
}

.stripe {
	background-color: whitesmoke;
}

h4 {
	margin-left: 2em;
}

.container {
	display: grid;
	/*border: 1px solid red;*/
	grid-template-columns: auto 50px 50px 50px;
}

.col1 {
	grid-column-start: 1;
	grid-column-end: 2;
	/*border: 1px dashed gray;*/
}

.col2 {
	grid-column-start: 2;
	grid-column-end: 3;
	/*border: 1px dashed green;*/
}

.col3 {
	grid-column-start: 3;
	grid-column-end: 4;
	/*border: 1px dashed red;*/
}

.col4 {
	grid-column-start: 4;
	grid-column-end: 5;
	/*border: 1px dashed blue;*/
}

.checked {
	text-decoration: line-through;
}

.editing {
	background-color: #d3d3d3;
	/*color: white;*/
}

.no-decoration {
	list-style: none;
}

.hidden {
	display: none;
}

.btn {
	border-radius: 7px;
	text-align: center;
}

.edit {
	color: green;
	border: 1px solid green;
	font-weight: bold;
	width: 30px;
	height: 20px;
}

.delete {
	color: red;
	border: 1px solid red;
	font-weight: bold;
	width: 30px;
	height: 20px;
}

.save {
	color: blue;
	border: 1px solid blue;
	font-weight: bold;
	width: 30px;
	height: 20px;
}